2026-04-29 01:56:35.448 [DEBUG] Определены совместимые версии API
  versions=[V7 V8 V9Preview5 V9Preview6 V9Preview7]
2026-04-29 01:56:35.449 [DEBUG] Плагины отфильтрованы
  available_count=314
2026-04-29 01:56:38.851 [INFO]  Выбран плагин для установки
  name=Resto.CashServer.PaymentSystem.Jetton
  version=
2026-04-29 01:56:39.610 [INFO]  Задача добавлена в runtime-очередь
  module_id=iiko
  task_id=task-000001
  title=Автообновление плагинов iiko
2026-04-29 01:56:39.610 [INFO]  Задача запущена
  module_id=iiko
  task_id=task-000001
  title=Автообновление плагинов iiko
2026-04-29 01:56:39.610 [DEBUG] Начало deployPlugin
  plugin=Resto.CashServer.PaymentSystem.Jetton
  isUpdate=false
